<h2>Login</h2>

<div *ngIf="this.registrationMsg">
    <p style="font-size: x-large;">{{this.registrationMsg}}</p>
</div>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="this.showLoginForm">
    <div class="form-group">
        <input type="email" placeholder="Email" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" autofocus/>
        <div *ngIf="f.username.errors" class="text-danger">
            <div *ngIf="f.username.errors.required">Email is required</div>
            <div *ngIf="f.username.errors.email">Email address is invalid</div>
        </div>
    </div>
    <div class="form-group">
        <input type="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="text-danger">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password should more than 10 characters</div>
        </div>
    </div>
    <div class="form-group">
        <!-- <button [disabled]="loading" class="btn btn-primary"> -->
        <button class="btn btn-primary">

            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1">Loging in...</span>
            <span *ngIf="!loading">Login</span>
        </button>
        <!-- <a (click)="registerOnClick()" class="btn btn-link" style="color: blue;">Register</a> -->
        <a routerLink="/register/form" class="btn btn-link">Register</a>
    </div>
</form>