
<div class="container">
    <div class="item">
    <img src="{{this.imgLogo}}" class="center"/>

    <nav *ngIf="this.showPageBottons">
        <a routerLink="/dashboard" class="tooltip" (click)="toggleSelectedButtonVisual('bar1');">Home
            <div id="bar1" class="activeAppButton"></div>
            <span class="tooltipText">Home</span>
        </a>
        <a routerLink="/projects" class="tooltip" (click)="toggleSelectedButtonVisual('bar2');">Projects
            <div id="bar2" class="activeAppButton"></div>
            <span class="tooltipText">Projects</span>
        </a>
        <a routerLink="/login" class="tooltip" (click)="toggleSelectedButtonVisual('bar3');">Sign out
            <div id="bar3" class="activeAppButton"></div>
            <span class="tooltipText">Logout</span>
        </a>
    </nav>
    
    <h1>{{title}}</h1>


    <router-outlet></router-outlet>
    </div>
</div>
