ul {
    list-style-type: disc;
}

li {
    margin-top: 1em;
}

a {
    text-decoration: none;
}

table {
    margin-top: 3em;
    border: none;
}

td {
    border:none;
}

.right {
    text-align: right;
}